<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello, Gannett!</h1>
    <p class="lead">USA Today is a pretty cool media company.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="page-header">New Float:</h1>
      <input type="text" class="form-control" ng-model="$ctrl.newInput" ng-keypress="$event.which === 13 && $ctrl.addInput()"></input>
    </div>
    <div class="col-lg-6">
      <h1 class="page-header">Inputs:</h1>
      <ul class="nav" ng-repeat="number in $ctrl.inputs track by $index">
        <li><a href="#" uib-tooltip="{{number}}">{{number}}</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h1 class="page-header">Sum: {{$ctrl.sum}}</h1>
    </div>
  </div>
</div>
